body {
  padding: 0;
  margin: 0;
}

#background {
  height: 100%;
  width:100%;
  padding: 0px;
  margin: 0px;
  display: block;
  position: absolute;
}

#mario {
  position: absolute;
  display: block;
  padding: 0px;
  margin: 0px;
  opacity: 1;
}
